:root {
  --tile-height: 150px;
  --tile-width: 150px;
  --default-color: rgb(176, 228, 219);
  --default-bg-color: rgb(76, 92, 104);
}

@font-face {
  font-family: Roboto;
  src: url(./Roboto-Black.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */

header {
  color: var(--default-color);
  background-color: var(--default-bg-color);
  font-size: 3rem;
  text-align: center;
  border-bottom: 10px solid black;
}

/* MAIN */

.player-status {
  color: rgb(70, 73, 75);
  text-align: center;
  font-size: 3rem;
  margin: 20px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, var(--tile-width));
  grid-template-rows: repeat(3, var(--tile-height));
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px;
}

.tile {
  height: var(--tile-height);
  width: var(--tile-width);
  background-color: var(--default-bg-color);
  grid-column: span 1;
  border: 4px solid black;
  text-align: center;
  vertical-align: middle;
  /* Used to scale the found to the correct size */
  font-size: calc(var(--tile-width) - 30px);
  color: var(--default-color);
  user-select: none;
}

.tile:hover {
  background-color: rgb(76, 92, 104, 0.5);
}

.center-btn {
  display: flex;
  justify-content: center;
}

#restart-btn {
  background-color: var(--default-bg-color);
  color: var(--default-color);
  font-size: 4rem;
  border: 4px solid black;
  border-radius: 10px;
  padding: 10px;
}

#restart-btn:hover {
  background-color: rgb(76, 92, 104, 0.5);
}

.win {
  background-color: #e4bbb0;
}

footer {
  color: var(--default-color);
  background-color: var(--default-bg-color);
  font-size: 3rem;
  text-align: center;
  border-top: 10px solid black;
  margin-top: auto;
}
